@import 'blocks/_header.scss';
@import 'blocks/_main.scss';
@import 'blocks/_list.scss';
@import 'blocks/_overlay.scss';
@import 'blocks/_logo.scss';
@import 'blocks/_nav.scss';
@import 'blocks/_carousel.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_card.scss';
@import 'helpers/_generic-classes.scss';
*{
  box-sizing: border-box;
  font-family: "B612";
}

body{
  padding: 0;
  margin: 0;
  background-color: $main-color;
}


