@import 'blocks/_header.scss';
@import 'blocks/_main.scss';
@import 'blocks/_list.scss';
@import 'blocks/_overlay.scss';
@import 'blocks/_logo.scss';
*{
  box-sizing: border-box;
  font-family: "B612";
}

body{
  padding: 0 5%;
  margin: 0;
  background-color: $main-color;
}


