@media (max-width: 576px){
  .col-3-phone{
    flex: 1 0 23%;
    margin: 0 1%;
  }
  
  .col-4-phone{
    flex: 1 0 32%;
    margin: 0 1%;
  }
  
  .col-6-phone{
    flex: 1 0 48%;
    margin: 0 1%;
  }
  
  .col-12-phone{
    flex: 1 0 100%;
    margin: 0;
  }
}