@import '../helpers/_helper-pack.scss';

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-width: 250px;
  border: 2px solid $font-color;  
  margin: 1rem;
}