@import '../helpers/helper-pack';

.list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  strong{
    white-space: nowrap;
  }
 
  &__item{
    display: flex;
    justify-content: space-between;
    border: 1px solid $font-color;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
    flex: 1 0 auto;
    strong:last-of-type{
      margin-left: 1rem;
    }
  }
  
}