.overaly-container{
  position: relative;
  &:hover{
    .overlay{

      &__text{
        transition: 1s;
        color: rgba(207,77,111,1);
        p{
          transition: 1s;
          background-color: #000;
        }
      }
    }
  }
}

.overlay {

  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 1s ease-out;

  &__text{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0);
    transition-duration: 1s;
  }
}