@import "_mixins.scss";

.flex-wrapper{
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.center{
  justify-content: center;
  text-align: center;
}

.space-evenly{
  justify-content: space-evenly;
}

.content-wrapper{
  background-color: $content-background-color;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20rem 0;
  color: $font-color;
  padding: 5px 25px;
  box-shadow: 0px 11px 19px 7px rgba(0,0,0,0.84);
}
  
.photo{
  display: inline-block;
  width: 15vw;
  border-radius: 20px;
  min-width: 200px;

}
  
.wrapper{
  padding: 0;
  margin: 0;
  position: relative;
}

.wrap-wrap{
  flex-wrap: wrap;
}

.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.w-80{
  width: 80%;
}

.space-between{
  align-content: space-between;
}

.flex-end{
  align-items: flex-end;
}

.tablet-center{
  @include tablet{
    align-content: center;
  }
}

.align-between{
  align-content: space-between;
}
.relative{
  position: relative;
}